body {
    font-family: 'Open Sans', sans-serif;
    background-color: white; 
}
h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration:underline
}

.ppdd {
    padding: 20px 100px 50px;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 850px;
    text-align: center;
    padding: auto;
    border: black 2px none;
    border-radius: 20px;
}

.contact {
    padding-bottom: 50px;
}

p{
    color: #676FA3;
}